/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, ../_sass/tools/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../_sass/tools/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../_sass/tools/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../_sass/tools/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../_sass/tools/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../_sass/tools/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../_sass/tools/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../_sass/tools/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../_sass/tools/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../_sass/tools/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../_sass/tools/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../_sass/tools/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../_sass/tools/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../_sass/tools/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../_sass/tools/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../_sass/tools/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, ../_sass/tools/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, ../_sass/tools/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../_sass/tools/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../_sass/tools/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, ../_sass/tools/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../_sass/tools/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../_sass/tools/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../_sass/tools/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, ../_sass/tools/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, ../_sass/tools/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, ../_sass/tools/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, ../_sass/tools/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, ../_sass/tools/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, ../_sass/tools/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, ../_sass/tools/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, ../_sass/tools/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, ../_sass/tools/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../_sass/tools/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../_sass/tools/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../_sass/tools/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../_sass/tools/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../_sass/tools/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../_sass/tools/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, ../_sass/tools/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 400, ../_sass/tools/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 417, ../_sass/tools/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 428, ../_sass/tools/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 440, ../_sass/tools/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, ../_sass/tools/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 465, ../_sass/tools/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 474, ../_sass/tools/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, ../_sass/tools/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, ../_sass/tools/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 510, ../_sass/tools/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 517, ../_sass/tools/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 519, ../_sass/tools/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 521, ../_sass/tools/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 523, ../_sass/tools/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 528, ../_sass/tools/_normalize.scss */
dd {
  margin: 0;
}

/* line 534, ../_sass/tools/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/*
  Typography
*/
/*
  Colors
*/
/*
  Other variables
*/
/*
  Susy config
*/
/* line 1, ../_sass/tools/_utility.scss */
.muted {
  color: #999;
}

/* line 5, ../_sass/tools/_utility.scss */
.soft {
  color: #666;
}

/* line 9, ../_sass/tools/_utility.scss */
.no-bottom-margin {
  margin-bottom: 0;
}

/* line 13, ../_sass/tools/_utility.scss */
.no-top-margin {
  margin-top: 0;
}

/* line 17, ../_sass/tools/_utility.scss */
.margin-top {
  margin-top: 10px;
}

/* line 21, ../_sass/tools/_utility.scss */
.margin-top-large {
  margin-top: 30px;
}

/* line 25, ../_sass/tools/_utility.scss */
.margin-left {
  margin-left: 10px;
}

/* line 29, ../_sass/tools/_utility.scss */
.clear {
  clear: both;
}

/* line 33, ../_sass/tools/_utility.scss */
.clearfix {
  zoom: 1;
}
/* line 35, ../_sass/tools/_utility.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 36, ../_sass/tools/_utility.scss */
.clearfix:after {
  clear: both;
}

/* line 39, ../_sass/tools/_utility.scss */
.row {
  display: inline-block;
  width: 100%;
}

/* line 44, ../_sass/tools/_utility.scss */
.text-center {
  text-align: center;
}

/* line 45, ../_sass/tools/_utility.scss */
.text-right {
  text-align: right;
}

/* line 46, ../_sass/tools/_utility.scss */
.text-left {
  text-align: left;
}

/* line 48, ../_sass/tools/_utility.scss */
.thin {
  font-weight: 300;
  font-family: 'Raleway', 'Lato', sans-serif;
}

/* line 56, ../_sass/tools/_utility.scss */
.invisible {
  visibility: hidden;
}

/* line 60, ../_sass/tools/_utility.scss */
.hide {
  display: none;
}

/* line 64, ../_sass/tools/_utility.scss */
.pull-left {
  float: left;
}

/* line 68, ../_sass/tools/_utility.scss */
.pull-right {
  float: right;
}

/* line 72, ../_sass/tools/_utility.scss */
.visible-tablet {
  display: none !important;
}

@media (min-width: 768px) {
  /* line 77, ../_sass/tools/_utility.scss */
  .visible-phone {
    display: none !important;
  }

  /* line 80, ../_sass/tools/_utility.scss */
  .visible-tablet {
    display: initial !important;
  }
}
/* line 85, ../_sass/tools/_utility.scss */
.wrap {
  width: 96%;
  margin: 0 auto;
}

/* line 91, ../_sass/tools/_utility.scss */
.subtitle {
  font-size: 20px;
  line-height: 26px;
}
/* line 95, ../_sass/tools/_utility.scss */
.subtitle a {
  text-decoration: none;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
