/*
Syntax error: Undefined mixin 'span-columns'.
        on line 113 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss, in `span-columns'
        from line 113 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss
        from line 24 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/ie.scss

Backtrace:
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss:113:in `span-columns'
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss:113
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/ie.scss:24
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/engine.rb:315:in `_render'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/sass-3.2.18/lib/sass/engine.rb:262:in `render'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:138:in `block in compile'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/logger.rb:45:in `red'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:137:in `compile'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `each'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `block in run'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/compiler.rb:100:in `run'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/commands/update_project.rb:45:in `perform'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/commands/base.rb:18:in `execute'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/commands/project_base.rb:19:in `execute'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_plugins/generator_scss.rb:23:in `block in generate'
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_plugins/generator_scss.rb:22:in `chdir'
/Users/SamSelikoff/Dropbox/Projects/samselikoff/_plugins/generator_scss.rb:22:in `generate'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/site.rb:227:in `block in generate'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/site.rb:226:in `each'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/site.rb:226:in `generate'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/site.rb:38:in `process'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/command.rb:18:in `process_site'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/jekyll-1.4.3/lib/jekyll/commands/build.rb:53:in `block in watch'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/listener.rb:252:in `call'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `call'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `report_changes'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/SamSelikoff/.rvm/gems/ruby-2.1.1/gems/listen-1.3.1/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'span-columns'.\A         on line 113 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss, in `span-columns'\A         from line 113 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/tools/_utility.scss\A         from line 24 of /Users/SamSelikoff/Dropbox/Projects/samselikoff/_sass/ie.scss"; }
