/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 120, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 126, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 127, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 128, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 132, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 138, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 144, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 150, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 156, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 218, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #356f6a;
  border-top-color: #3f847e;
  border-left-color: #3f847e;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #428b84;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a9c95), to(#428b84));
  background-image: -webkit-linear-gradient(top, #4a9c95, #428b84);
  background-image: -moz-linear-gradient(top, #4a9c95, #428b84);
  background-image: -o-linear-gradient(top, #4a9c95, #428b84);
  background-image: linear-gradient(to bottom, #4a9c95, #428b84);
}
/* line 237, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #356f6a;
  border-top-color: #295753;
  border-left-color: #295753;
  background-color: #3a7974;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428b84), to(#3a7974));
  background-image: -webkit-linear-gradient(top, #428b84, #3a7974);
  background-image: -moz-linear-gradient(top, #428b84, #3a7974);
  background-image: -o-linear-gradient(top, #428b84, #3a7974);
  background-image: linear-gradient(to bottom, #428b84, #3a7974);
}
/* line 245, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #4a9c95;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428b84), to(#4a9c95));
  background-image: -webkit-linear-gradient(top, #428b84, #4a9c95);
  background-image: -moz-linear-gradient(top, #428b84, #4a9c95);
  background-image: -o-linear-gradient(top, #428b84, #4a9c95);
  background-image: linear-gradient(to bottom, #428b84, #4a9c95);
}

/* line 250, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 256, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 260, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 48, ../scss/_grid.scss */
.last {
  float: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 27, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 28, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 29, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 30, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 22, ../scss/_768up.scss */
.visible-phone {
  display: none;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 30, ../scss/_768up.scss */
.wrap {
  max-width: 960px;
}

/*********************
HEADER STYLES
*********************/
/* line 40, ../scss/_768up.scss */
header #intro {
  text-align: left;
  float: left;
}
/* line 44, ../scss/_768up.scss */
header #intro .title {
  margin-top: 10px;
}
/* line 48, ../scss/_768up.scss */
header #intro .byline .inline {
  display: block;
  margin: 0;
}
/* line 53, ../scss/_768up.scss */
header #intro .social {
  margin-top: 20px;
  margin-right: 20px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 64, ../scss/_768up.scss */
nav.mobile {
  display: none;
}

/* line 66, ../scss/_768up.scss */
.main-nav.desktop {
  display: initial;
  float: right;
  margin-top: 15px;
  margin-bottom: 35px;
  width: initial;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 73, ../scss/_768up.scss */
.main-nav.desktop li {
  float: left;
  position: relative;
  /* showing sub-menus */
}
/* line 77, ../scss/_768up.scss */
.main-nav.desktop li a {
  border-bottom: 0;
  padding-left: 0;
  font-size: 19px;
  padding-right: 20px;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 97, ../scss/_768up.scss */
.main-nav.desktop li:hover ul {
  top: auto;
  display: block;
}
/* line 106, ../scss/_768up.scss */
.main-nav.desktop li.current-page a {
  color: #193432;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 117, ../scss/_768up.scss */
aside {
  display: initial;
  margin-top: 24px;
  font-size: 15px;
}
/* line 122, ../scss/_768up.scss */
aside h4 {
  margin: 0;
}
/* line 126, ../scss/_768up.scss */
aside > div {
  padding: 0 10px;
  margin-bottom: 25px;
}
/* line 132, ../scss/_768up.scss */
aside > div ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 140, ../scss/_768up.scss */
aside > div ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 160, ../scss/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/*********************
PAGE STYLES
*********************/
/* line 179, ../scss/_768up.scss */
#home {
  margin-top: 50px;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
