/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
/* line 21, ../_sass/tools/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../_sass/tools/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../_sass/tools/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../_sass/tools/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../_sass/tools/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../_sass/tools/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../_sass/tools/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../_sass/tools/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../_sass/tools/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../_sass/tools/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, ../_sass/tools/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, ../_sass/tools/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, ../_sass/tools/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, ../_sass/tools/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, ../_sass/tools/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../_sass/tools/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, ../_sass/tools/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, ../_sass/tools/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../_sass/tools/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../_sass/tools/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, ../_sass/tools/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../_sass/tools/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../_sass/tools/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../_sass/tools/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, ../_sass/tools/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, ../_sass/tools/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, ../_sass/tools/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, ../_sass/tools/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, ../_sass/tools/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, ../_sass/tools/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, ../_sass/tools/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, ../_sass/tools/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, ../_sass/tools/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../_sass/tools/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../_sass/tools/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../_sass/tools/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../_sass/tools/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../_sass/tools/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../_sass/tools/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, ../_sass/tools/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 400, ../_sass/tools/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 417, ../_sass/tools/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 428, ../_sass/tools/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 440, ../_sass/tools/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, ../_sass/tools/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 465, ../_sass/tools/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 474, ../_sass/tools/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, ../_sass/tools/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, ../_sass/tools/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 510, ../_sass/tools/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 517, ../_sass/tools/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 519, ../_sass/tools/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 521, ../_sass/tools/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 523, ../_sass/tools/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 528, ../_sass/tools/_normalize.scss */
dd {
  margin: 0;
}

/* line 534, ../_sass/tools/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/*
  Typography
*/
/*
  Colors
*/
/*
  Other variables
*/
/*
  Susy config
*/
/* line 1, ../_sass/tools/_utility.scss */
.muted {
  color: #999;
}

/* line 5, ../_sass/tools/_utility.scss */
.soft {
  color: #666;
}

/* line 9, ../_sass/tools/_utility.scss */
.subtle {
  color: #999;
}

/* line 13, ../_sass/tools/_utility.scss */
.no-bottom-margin {
  margin-bottom: 0;
}

/* line 17, ../_sass/tools/_utility.scss */
.no-top-margin {
  margin-top: 0;
}

/* line 21, ../_sass/tools/_utility.scss */
.margin-top {
  margin-top: 10px;
}

/* line 25, ../_sass/tools/_utility.scss */
.margin-top-large {
  margin-top: 30px;
}

/* line 29, ../_sass/tools/_utility.scss */
.margin-left {
  margin-left: 10px;
}

/* line 33, ../_sass/tools/_utility.scss */
.clear {
  clear: both;
}

/* line 37, ../_sass/tools/_utility.scss */
.padding {
  padding: 1em;
}

/* line 41, ../_sass/tools/_utility.scss */
.well {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05) inset;
  margin: 14px 0;
}

/* line 49, ../_sass/tools/_utility.scss */
.clearfix {
  zoom: 1;
}
/* line 51, ../_sass/tools/_utility.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 52, ../_sass/tools/_utility.scss */
.clearfix:after {
  clear: both;
}

/* line 55, ../_sass/tools/_utility.scss */
.row {
  display: inline-block;
  width: 100%;
}

/* line 60, ../_sass/tools/_utility.scss */
.text-center {
  text-align: center;
}

/* line 61, ../_sass/tools/_utility.scss */
.text-right {
  text-align: right;
}

/* line 62, ../_sass/tools/_utility.scss */
.text-left {
  text-align: left;
}

/* line 64, ../_sass/tools/_utility.scss */
.thin {
  font-weight: 300;
  font-family: 'Raleway', 'Lato', sans-serif;
}

/* line 72, ../_sass/tools/_utility.scss */
.invisible {
  visibility: hidden;
}

/* line 76, ../_sass/tools/_utility.scss */
.hide {
  display: none;
}

/* line 80, ../_sass/tools/_utility.scss */
.pull-left {
  float: left;
}

/* line 84, ../_sass/tools/_utility.scss */
.pull-right {
  float: right;
}

/* line 88, ../_sass/tools/_utility.scss */
.visible-tablet {
  display: none !important;
}

@media (min-width: 768px) {
  /* line 93, ../_sass/tools/_utility.scss */
  .visible-phone {
    display: none !important;
  }

  /* line 96, ../_sass/tools/_utility.scss */
  .visible-tablet {
    display: initial !important;
  }
}
@media (max-width: 767px) {
  /* line 101, ../_sass/tools/_utility.scss */
  .wrap {
    width: 96%;
    margin: 0 auto;
  }
}

/* line 108, ../_sass/tools/_utility.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 113, ../_sass/tools/_utility.scss */
.col-1-2 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 115, ../_sass/tools/_utility.scss */
.col-1-2.last {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 119, ../_sass/tools/_utility.scss */
.subtitle {
  font-size: 20px;
  line-height: 26px;
}
/* line 123, ../_sass/tools/_utility.scss */
.subtitle a {
  text-decoration: none;
}

/* line 1, ../_sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_sass/_base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #333;
  background-color: white;
}

/* line 14, ../_sass/_base.scss */
small {
  font-size: small;
}

/* line 18, ../_sass/_base.scss */
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/* line 25, ../_sass/_base.scss */
aside {
  margin-left: 1em;
  font-size: 0.8em;
  line-height: 1.4em;
  padding-left: 1em;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1em;
}

/* line 35, ../_sass/_base.scss */
pre {
  line-height: 16px;
  font-size: 14px;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05) inset;
}

/* line 47, ../_sass/_base.scss */
p code, ul code {
  font-family: "Menlo", monospace;
  font-size: 0.8em;
  line-height: 1em;
}

/* line 58, ../_sass/_base.scss */
ul, ol {
  padding-left: 40px;
  list-style-type: initial;
}

/* line 63, ../_sass/_base.scss */
ol {
  list-style-type: decimal;
}

/* line 67, ../_sass/_base.scss */
iframe {
  display: block;
  width: 100%;
  height: 500px;
  margin: 30px 0;
}

/* line 74, ../_sass/_base.scss */
a, a:visited {
  color: #2185c5;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 79, ../_sass/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #0b2d42;
  text-decoration: underline;
}
/* line 90, ../_sass/_base.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 104, ../_sass/_base.scss */
h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
/* line 114, ../_sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}
/* line 118, ../_sass/_base.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  text-decoration: underline;
}

/* line 123, ../_sass/_base.scss */
h1 {
  font-size: 2.8em;
  line-height: 1.1em;
  font-family: "Oleo Script", cursive;
  text-align: center;
}

/* line 130, ../_sass/_base.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  font-size: 1.3em;
  font-weight: bold;
}

/* line 138, ../_sass/_base.scss */
h3 {
  font-size: 1.125em;
  font-weight: bold;
}

/* line 143, ../_sass/_base.scss */
h4 {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 148, ../_sass/_base.scss */
h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 158, ../_sass/_base.scss */
nav {
  /* end .nav */
}
/* line 160, ../_sass/_base.scss */
nav ul {
  clear: both;
  margin-top: 0;
  margin-bottom: 10px;
  /* end .menu li */
}
/* line 171, ../_sass/_base.scss */
nav ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.1em;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 183, ../_sass/_base.scss */
nav ul li a:hover, nav ul li a:focus {
  text-decoration: underline;
}

/* line 193, ../_sass/_base.scss */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* line 198, ../_sass/_base.scss */
a [class^="icon-"], a [class*=" icon-"] {
  opacity: .4;
}

/* line 201, ../_sass/_base.scss */
a [class^="icon-"]:hover, a [class*=" icon-"]:hover {
  opacity: 1;
}

/* line 1, ../_sass/syntax/default.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../_sass/syntax/default.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../_sass/syntax/default.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../_sass/syntax/default.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 5, ../_sass/syntax/default.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 6, ../_sass/syntax/default.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../_sass/syntax/default.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../_sass/syntax/default.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../_sass/syntax/default.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../_sass/syntax/default.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../_sass/syntax/default.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 12, ../_sass/syntax/default.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../_sass/syntax/default.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 14, ../_sass/syntax/default.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 15, ../_sass/syntax/default.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 16, ../_sass/syntax/default.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 17, ../_sass/syntax/default.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../_sass/syntax/default.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../_sass/syntax/default.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../_sass/syntax/default.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../_sass/syntax/default.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../_sass/syntax/default.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../_sass/syntax/default.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../_sass/syntax/default.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../_sass/syntax/default.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../_sass/syntax/default.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../_sass/syntax/default.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../_sass/syntax/default.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 29, ../_sass/syntax/default.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 30, ../_sass/syntax/default.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 31, ../_sass/syntax/default.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../_sass/syntax/default.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 33, ../_sass/syntax/default.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 34, ../_sass/syntax/default.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../_sass/syntax/default.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../_sass/syntax/default.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../_sass/syntax/default.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 38, ../_sass/syntax/default.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 39, ../_sass/syntax/default.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../_sass/syntax/default.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../_sass/syntax/default.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../_sass/syntax/default.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../_sass/syntax/default.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../_sass/syntax/default.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../_sass/syntax/default.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 46, ../_sass/syntax/default.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 47, ../_sass/syntax/default.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 48, ../_sass/syntax/default.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 49, ../_sass/syntax/default.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 50, ../_sass/syntax/default.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 51, ../_sass/syntax/default.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 52, ../_sass/syntax/default.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 53, ../_sass/syntax/default.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../_sass/syntax/default.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 55, ../_sass/syntax/default.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../_sass/syntax/default.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../_sass/syntax/default.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 58, ../_sass/syntax/default.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 59, ../_sass/syntax/default.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 60, ../_sass/syntax/default.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* line 1, ../_sass/layouts/_header.scss */
#main-nav {
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  /* line 1, ../_sass/layouts/_header.scss */
  #main-nav {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 216px;
  }
}
/* line 11, ../_sass/layouts/_header.scss */
#main-nav #header-intro {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 20px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 11, ../_sass/layouts/_header.scss */
  #main-nav #header-intro {
    padding: 0;
    text-align: left;
  }
}
/* line 22, ../_sass/layouts/_header.scss */
#main-nav #header-intro .title {
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 10px;
}
/* line 28, ../_sass/layouts/_header.scss */
#main-nav #header-intro a {
  color: #2185c5 !important;
  text-decoration: none;
}
/* line 32, ../_sass/layouts/_header.scss */
#main-nav #header-intro a:hover {
  text-decoration: underline;
}
/* line 37, ../_sass/layouts/_header.scss */
#main-nav #header-intro .byline {
  margin: 1em 0;
}
/* line 39, ../_sass/layouts/_header.scss */
#main-nav #header-intro .byline .inline {
  display: inline;
}
/* line 42, ../_sass/layouts/_header.scss */
#main-nav #header-intro p strong {
  font-weight: 400;
}
/* line 46, ../_sass/layouts/_header.scss */
#main-nav #header-intro a, #main-nav #header-intro a:visited {
  margin-top: 10px;
}
/* line 63, ../_sass/layouts/_header.scss */
#main-nav .main-nav {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
/* line 68, ../_sass/layouts/_header.scss */
#main-nav .main-nav .row {
  clear: both;
  text-align: center;
  margin: 0 auto;
  display: table-row;
}
/* line 74, ../_sass/layouts/_header.scss */
#main-nav .main-nav .row a {
  display: block;
  display: table-cell;
  float: left;
  width: 48%;
  margin: 1%;
  padding: 10px;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #e7e7e7;
}
/* line 91, ../_sass/layouts/_header.scss */
#main-nav .main-nav .row a.current-page {
  background-color: #2185c5;
  color: white;
}
@media (min-width: 768px) {
  /* line 97, ../_sass/layouts/_header.scss */
  #main-nav .main-nav ul {
    text-align: left;
    padding-left: 0;
  }
  /* line 102, ../_sass/layouts/_header.scss */
  #main-nav .main-nav ul li.current-page {
    opacity: 1;
    font-weight: bold;
  }
  /* line 107, ../_sass/layouts/_header.scss */
  #main-nav .main-nav ul li {
    opacity: 0.9;
    display: block;
  }
  /* line 111, ../_sass/layouts/_header.scss */
  #main-nav .main-nav ul li a {
    padding: 0;
    text-decoration: none;
  }
}
/* line 121, ../_sass/layouts/_header.scss */
#main-nav .social {
  display: block;
  width: 228px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 121, ../_sass/layouts/_header.scss */
  #main-nav .social {
    margin-bottom: 15px;
  }
  /* line 128, ../_sass/layouts/_header.scss */
  #main-nav .social ul {
    padding-left: 0;
  }
}
/* line 133, ../_sass/layouts/_header.scss */
#main-nav .social li {
  float: left;
  margin-left: 10px;
}
@media (min-width: 768px) {
  /* line 133, ../_sass/layouts/_header.scss */
  #main-nav .social li {
    margin-left: 0;
    margin-right: 10px;
  }
}
/* line 141, ../_sass/layouts/_header.scss */
#main-nav .social li a {
  padding: 0;
}
/* line 144, ../_sass/layouts/_header.scss */
#main-nav .social li a img {
  opacity: 0.5;
}
/* line 148, ../_sass/layouts/_header.scss */
#main-nav .social li a:hover img {
  opacity: 0.8;
}

/* line 1, ../_sass/layouts/_content.scss */
.content {
  padding: 0 15px;
  margin-top: 30px;
}
/* line 5, ../_sass/layouts/_content.scss */
.content img {
  max-width: 100%;
}

/* line 11, ../_sass/layouts/_content.scss */
.comments {
  max-width: 700px;
  margin: 5em auto 0;
}

@media (min-width: 768px) {
  /* line 18, ../_sass/layouts/_content.scss */
  .site {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }
  /* line 38, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .site:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 25, ../_sass/layouts/_content.scss */
  .site footer {
    clear: both;
  }
  /* line 28, ../_sass/layouts/_content.scss */
  .site nav {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 30, ../_sass/layouts/_content.scss */
  .site .content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
/* line 1, ../_sass/layouts/_footer.scss */
footer {
  clear: both;
}
/* line 4, ../_sass/layouts/_footer.scss */
footer .copyright {
  text-align: center;
  font-size: 0.8em;
}

/* line 1, ../_sass/modules/_article.scss */
article {
  max-width: 700px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/* line 7, ../_sass/modules/_article.scss */
article .back {
  display: block;
  float: left;
  margin-top: 1em;
}
/* line 12, ../_sass/modules/_article.scss */
article .back a:hover {
  text-decoration: none;
}
/* line 15, ../_sass/modules/_article.scss */
article .back i {
  font-size: 0.9em;
  padding-right: 0.3em;
}
/* line 21, ../_sass/modules/_article.scss */
article .date {
  float: right;
}
/* line 25, ../_sass/modules/_article.scss */
article h2 {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 1em;
}
/* line 31, ../_sass/modules/_article.scss */
article h3 {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
/* line 36, ../_sass/modules/_article.scss */
article .byline {
  text-align: center;
}

/* line 1, ../_sass/modules/_page-header.scss */
.page-header {
  margin-bottom: 30px;
}
/* line 13, ../_sass/modules/_page-header.scss */
.page-header .subtitle {
  margin: 0;
  font-size: 26px;
  line-height: 1.3em;
}
/* line 19, ../_sass/modules/_page-header.scss */
.page-header .byline {
  color: #999;
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
}

/* line 3, ../_sass/modules/_home.scss */
#home img {
  display: block;
  margin: 10px auto;
}

/* line 2, ../_sass/modules/_blog.scss */
#blog ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 7, ../_sass/modules/_blog.scss */
#blog ul li {
  clear: both;
}
/* line 12, ../_sass/modules/_blog.scss */
#blog img {
  max-width: 100%;
}
/* line 16, ../_sass/modules/_blog.scss */
#blog section {
  clear: both;
}
/* line 19, ../_sass/modules/_blog.scss */
#blog section .keep-reading {
  text-decoration: none;
}
/* line 26, ../_sass/modules/_blog.scss */
#blog article .subtitle {
  display: block;
  margin-top: 0.7em;
}
/* line 31, ../_sass/modules/_blog.scss */
#blog article ul {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: 1em;
}
/* line 38, ../_sass/modules/_blog.scss */
#blog .previous {
  float: left;
}
/* line 39, ../_sass/modules/_blog.scss */
#blog .next {
  float: right;
}
/* line 41, ../_sass/modules/_blog.scss */
#blog .pages {
  list-style-type: none;
}
/* line 44, ../_sass/modules/_blog.scss */
#blog .pages li {
  float: left;
  margin-right: 10px;
}

/* line 6, ../_sass/modules/_writing.scss */
#writing nav {
  float: left;
  width: 140px;
  margin-left: 1em;
}
/* line 13, ../_sass/modules/_writing.scss */
#writing ul {
  margin-top: 0;
}
/* line 19, ../_sass/modules/_writing.scss */
#writing .content {
  margin-top: 0;
}
/* line 27, ../_sass/modules/_writing.scss */
#writing h1 .subtitle {
  display: block;
}
/* line 33, ../_sass/modules/_writing.scss */
#writing img {
  max-width: 100%;
}

/* line 2, ../_sass/modules/_resume.scss */
#resume h2 {
  margin: 40px 0 20px;
}
/* line 7, ../_sass/modules/_resume.scss */
#resume h3 {
  margin: 1.5em 0 0.4em;
}
/* line 12, ../_sass/modules/_resume.scss */
#resume .duration, #resume .location {
  font-weight: 300;
  color: #999;
  font-size: 14px;
  margin: 0 0 1.5em;
}
/* line 18, ../_sass/modules/_resume.scss */
#resume .location {
  float: left;
}
/* line 19, ../_sass/modules/_resume.scss */
#resume .duration {
  float: right;
}
/* line 21, ../_sass/modules/_resume.scss */
#resume ul {
  padding-left: 10px;
  list-style-type: disc;
  margin-top: 0;
}
/* line 26, ../_sass/modules/_resume.scss */
#resume ul ul {
  padding-left: 20px;
  list-style-type: circle;
}
/* line 32, ../_sass/modules/_resume.scss */
#resume ul.speaking {
  list-style-type: none;
  margin-left: 40px;
}
/* line 36, ../_sass/modules/_resume.scss */
#resume ul.speaking p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 41, ../_sass/modules/_resume.scss */
#resume ul.speaking h4 {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 50, ../_sass/modules/_resume.scss */
  #resume a {
    text-decoration: none;
  }
  /* line 54, ../_sass/modules/_resume.scss */
  #resume p {
    line-height: 16px;
  }
  /* line 58, ../_sass/modules/_resume.scss */
  #resume .sep {
    color: #eee;
  }
  /* line 63, ../_sass/modules/_resume.scss */
  #resume header .location {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
    display: inline;
  }
  /* line 67, ../_sass/modules/_resume.scss */
  #resume header .links {
    width: 65.90909%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    text-align: right;
    font-size: 13px;
    text-transform: uppercase;
  }
  /* line 73, ../_sass/modules/_resume.scss */
  #resume header .links p {
    margin-top: 0;
  }
  /* line 81, ../_sass/modules/_resume.scss */
  #resume section .title {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
    display: inline;
    color: #999;
    font-weight: 200;
    font-size: 16px;
    margin-top: 0;
    text-transform: uppercase;
  }
  /* line 90, ../_sass/modules/_resume.scss */
  #resume section .items {
    width: 65.90909%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 0;
  }
  /* line 94, ../_sass/modules/_resume.scss */
  #resume section .items h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 900;
    text-transform: uppercase;
  }
  /* line 100, ../_sass/modules/_resume.scss */
  #resume section .items h3 small {
    font-size: .7em;
    font-weight: normal;
  }
  /* line 105, ../_sass/modules/_resume.scss */
  #resume section .items p {
    margin-top: 0;
  }
  /* line 106, ../_sass/modules/_resume.scss */
  #resume section .items li {
    font-size: 13px;
    line-height: 18px;
  }
  /* line 110, ../_sass/modules/_resume.scss */
  #resume section .items .fa {
    font-size: 11px;
  }
}
/* line 3, ../_sass/modules/_about.scss */
#about .skills {
  margin: 30px auto;
}
/* line 7, ../_sass/modules/_about.scss */
#about .label.web {
  color: #2185c5;
}
/* line 8, ../_sass/modules/_about.scss */
#about .label.js {
  color: #E67E22;
}
/* line 9, ../_sass/modules/_about.scss */
#about .label.server {
  color: #E74C3C;
}
/* line 11, ../_sass/modules/_about.scss */
#about .tag {
  border-radius: 3px;
  background-color: #2185c5;
  color: #ffffff;
  cursor: default;
  margin-right: 5px;
  margin-bottom: 6px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 12px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  -webkit-backface-visibility: hidden;
  font-size: 0.9em;
  opacity: .9;
}
/* line 30, ../_sass/modules/_about.scss */
#about .tag.link {
  cursor: pointer;
}
/* line 34, ../_sass/modules/_about.scss */
#about .tag:hover {
  opacity: 1;
}
/* line 39, ../_sass/modules/_about.scss */
#about .tag.js {
  background-color: #E67E22;
}
/* line 40, ../_sass/modules/_about.scss */
#about .tag.server {
  background-color: #E74C3C;
}
/* line 42, ../_sass/modules/_about.scss */
#about .image {
  height: 40%;
}
/* line 46, ../_sass/modules/_about.scss */
#about img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}
/* line 53, ../_sass/modules/_about.scss */
#about .image.about1 {
  background-image: url("/images/about1.jpg");
}
/* line 54, ../_sass/modules/_about.scss */
#about .image.about2 {
  background-image: url("/images/about2.jpg");
}
