/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #565656;
	background-color: $background-primary;
}

.muted {
	color: #999;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.no-top-margin {
	margin-top: 0;
}

.margin-top {
	margin-top: 10px;
}

.thin {
	font-weight: 300;
	font-family: 'Raleway', 'Lato', sans-serif;
	color: #999;
	font-size: 20px;
	line-height: 26px;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

header {

	background-color: $background-alt;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	// font-family: proxima-nova, arial;

	#intro {
		color: $link-color-alt;
		margin-top: 10px;
		margin-bottom: 0;
		padding: 0 20px;
		text-align: center;

		.title {
			font-size: 29px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		a {
			color: #4a9c95 !important;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.byline {
			margin: 1em 0;
			.inline {display: inline;}
		}

		p strong {
			font-weight: 400;
		}

		a, a:visited {
			color: $link-color-alt;
			// text-decoration: none;
			// display: block;
			margin-top: 10px;
			// font-size: 30px;
			// line-height: 30px;
		}

		// .description {
		// 	margin-top: 4px;
		// 	font-size: 0.7em;
		// 	color: rgb(220,220,220);
		// 	color: rgba(255,255,255,0.8);
		// }
	}

	.main-nav {
		display: table;
		width: 100%;
		margin-bottom: 10px;

		.row {
			clear: both;
			text-align: center;
			margin: 0 auto;
			display: table-row;

			a {
				display: block;
				display: table-cell;
				float: left;
				width: 48%;
				margin: 1%;
				padding: 10px;
				text-decoration: none;
				background-color: rgb(240, 240, 240);
				border: 1px solid rgb(231, 231, 231);

				&:hover {
					background-color: #4a9c95;
					color: white;
				}
			}

			a.current-page {
				background-color: #4a9c95;
				color: white;
			}

		}



	}

	// .main-nav li {
	// 	a, a:visited {
	// 		color: $link-color-alt;

	// 		&:hover, &:focus {
	// 			text-decoration: underline;
	// 			color: $link-hover-alt;
	// 		}
	// 	}
	// }

	// .main-nav li.current-page {
	// 	color: #193432;
	// 	text-decoration: underline;
	// }

	// .main-nav.mobile {
	// 	margin-top: 20px;
	// }

	.social {
		float: right;
		margin-top: 10px;

		li {
			float: left;
			margin-left: 10px;

			a {padding: 0;}
		}
	}
}

.page .article-header {
	// display: none;
}


/*********************
NAVIGATION STYLES
*********************/

nav.desktop {
	display: none; 
}

nav {

	ul {
		clear: both;
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;

		li {

			display: inline;
			// float: left;

			a {
				text-decoration: none;
				padding: 10px;
				font-size: 1.1em;
				color: $link-color-alt;

				/*
				remember this is for mobile ONLY, so there's no need
				to even declare hover styles here, you can do it in
				the style.scss file where it's relevant. We want to
				keep this file as small as possible!
				*/
				&:hover, &:focus {
					text-decoration: underline;
					color: $link-hover-alt;
				}
			}

			&:first-child {}

			&:last-child {}

			/*
			so you really have to rethink your dropdowns for mobile.
			you don't want to have it expand too much because the
			screen is so small. How you manage your menu should
			depend on the project. Here's some great info on it:
			http://www.alistapart.com/articles/organizing-mobile/
			*/
			ul.sub-menu,
			ul.children {

				li {

					a {
						padding-left: 30px;

						&:hover,
						&:focus {}

						&:link {}

					}

					&:first-child {}

					&:last-child {}

				}

			}

		} /* end .menu li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current-page-ancestor {

			a {
				color: $link-hover;
				text-decoration: underline;
			}

		}  /* end current highlighters */

	} /* end .nav */

}

/*********************
PAGE STYLES
*********************/

.reading {
	max-width: 700px !important;
	margin: 50px auto;

	// Something like this?
	background-color: rgb(248, 248, 248);
	box-shadow: inset 0px 0px 6px 1px rgb(167, 167, 167);
	padding: 20px;
	border-radius: 11px;
}

.content {
	padding: 0 15px;
}

#home {

	img {
		display: block;
		margin: 10px auto;
	}

	article h3 {
		font-size: 1.325em;
	}

}

article {
	margin-bottom: 50px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

.content {
	margin-top: 10px;
}

.byline {
	color: #999;
}

/*********************
SIDEBARS & ASIDES
*********************/

aside {
	display: none;
}

/*********************
FOOTER STYLES
*********************/

footer {
	clear: both;

	.copyright {
		text-align: center;
		font-size: 0.8em;
	}
}

/*********************
ICON STYLES
*********************/

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 24px;
	height: 24px;
}
a [class^="icon-"], a [class*=" icon-"] {
	opacity: .4;
}
a [class^="icon-"]:hover, a [class*=" icon-"]:hover {
	opacity: 1;
}

.icon-github {background-image: url('../images/glyphicons/glyphicons_401_github.png');}
.icon-twitter {background-image: url('../images/glyphicons/glyphicons_411_twitter.png');}
.icon-linked-in {background-image: url('../images/glyphicons/glyphicons_397_linked_in.png');}
.icon-facebook {background-image: url('../images/glyphicons/glyphicons_410_facebook.png');}