---
layout: home
title: Sam Selikoff
---

<div id="home" class='inverted u-subtle-shadow'>

  <div class="u-container">
    <div class="stories">

      {% if site.data.future_stories.size > 0 %}

        <div class='upcoming'>
          <p class='story-label'>Upcoming</p>

        {% for story in site.data.future_stories %}
          <section class='story upcoming-story {{story.type}} box'>
            {% include future_stories/{{story.type}}.html %}
          </section> 
        {% endfor %}

        </div>
      {% endif %}

      <p class='label'>Recent activity</p>

      {% for story in site.data.stories limit:5 %}
        <section class='box story {{story.type}}'>
          {% if story.type == 'talk' %}
            <img class='story-image' src='/images/{{story.type}}s/{{story.stub}}.png'>
          {% endif %}
          <a class='title title-link' href='{{story.url}}'>{{ story.title }}</a>
          <h3 class='story-subtitle'>{{ story.subtitle }}</h3>

          <p class='info'>
            <img class='icon' src='images/icons/{{story.type}}.png'></img>
            <span class='date'>{{ story.date | date: '%b %d, %Y' }}</span>
          </p>

          {% include stories/{{story.type}}.html %}
        </section> 
      {% endfor %}

    </div>
  </div>

</div>


<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'samselikoff'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
