<footer id="menu">
  <ul>
    <li class="footer-topNavLink"><a href="#top"><span>Top</span></a></li>
    <li><a class='footer-link' href="/blog"><span class="u-accent"></span> blog <span class="u-accent"></span></a></li>
    <li><a class='footer-link' href="/writing"><span class="u-accent"></span> writing <span class="u-accent"></span></a></li>
    <li><a class='footer-link' href="/talks"><span class="u-accent"></span> talks <span class="u-accent"></span></a></li>
    <li><a class='footer-link' href="/projects"><span class="u-accent"></span> code + design <span class="u-accent"></span></a></li>
    <li><a class='footer-link' href="/about"><span class="u-accent"></span> about <span class="u-accent"></span></a></li>
  </ul>

  <aside>
    <p class='aside-text u-container'>
      <span class="aside-info u-pull-left">
        &copy;2014 Sam Selikoff. <a href="#">Contact me</a> with questions or comments.
      </span>
      <span class="aside-social">
        <a href="http://www.twitter.com/samselikoff"><img src="/images/icons/twitter.png" alt=""></a>
      </span>
    </p>
  </aside>
</footer>