<nav id="menu" class='mobile-menu hidden-lg'>
  <ul class='mobile-menu-list'>
    <li class="mobile-menu-back"><a href="#top"><span>Top</span></a></li>
    <li><a class='mobile-menu-link' href="/blog">blog </a></li>
    <li><a class='mobile-menu-link' href="/talks">talks </a></li>
    <li><a class='mobile-menu-link' href="/writings">writings </a></li>
    <li><a class='mobile-menu-link' href="/work">code + design </a></li>
    <li><a class='mobile-menu-link' href="/about">about </a></li>
  </ul>
</nav>
