<!DOCTYPE html>
<html>
  <head>
    <title>D3 and Backbone</title>

    <!-- Libs -->
    <link href="libs/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="libs/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="libs/bootstrap-responsive.min.css" type="text/css" rel="stylesheet">
    <link href="libs/select2.css" type="text/css" rel="stylesheet">
    <link href="libs/select2-bootstrap.css" type="text/css" rel="stylesheet">

    <!-- Styles -->
    <link href="build/style.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="reporting margin-bottom-large">
      <div id="release-summary">

        <div class="container-fluid">
          <div class="page-header">
            <div class="text-right">
              <img id="loading" src="images/page-loading.gif" alt="">
            </div>

            <div class="pull-left">
              <h1 class='soft'>Release Summary</h1>
            </div>

            <!-- Reporter/Assignee selectors -->
            <div id="assignee-selector" class="selector"></div>
            <div id="reporter-selector" class="selector"></div>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class="container">

          <!-- Timeline -->
          <div class="row">
            <div id="time-to-cut" class="span10 offset1"></div>
          </div>

          <!-- Graphs -->
          <div id="release-summary-charts">
            <div class="row">
              <div class="span3">
                <div id="required-for-production"></div>
              </div>
              <div class="span3">
                <div id="required-for-conversion"></div>
              </div>
              <div class="span3">
                <div id="bugs"></div>
              </div>
              <div class="span3">
                <div id="priority"></div>
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <div id="confirmed"></div>
              </div>
              <div class="span3">
                <div id="all-items"></div>
              </div>
            </div>
          </div>

        </div> <!-- container -->
      </div>
    </div>

    <!-- Libs -->
    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/backbone.min.js"></script>
    <script src="libs/select2.min.js"></script>
    <script src="libs/d3.v3.min.js"></script>
    <script src="libs/strut.js"></script>

    <!-- App -->
    <script src="build/d3-backbone-dashboard.min.js"></script>

    <!-- Templates -->
    <script>
      // window.initialData = {{ initialData|raw }}
    </script>

    <script type="text/template" id="issues-graph-template">
      <div class="issues-graph">
        <h2><%= title %></h2>
        <div class="chart"></div>
      </div>
    </script>

    <script type="text/template" id="cut-graph-template">
      <h4 class="title text-center"></h4>
      <p class="subtitle muted text-center"></p>
      <div class="chart"></div>
    </script>

    <script type="text/template" id="selector-template">
      <div class="input-prepend">
        <span class="add-on"><%= title %></span>
        <input class="input-medium" type="hidden">
      </div>
    </script>
  </body>
</html>