---
layout: inverted
title: Sam Selikoff - Talks
site-section: talks
---

<div id="talks">

  <div class="title u-margin-bottom">
    <h1>Talks</h1>
    <p class='text-lead u-margin-bottom-small'>I love speaking and teaching on all things front-end web development</p>
    <p class='text-lead'><a class='link-inverted' href="mailto:sam.selikoff@gmail.com">Reach out</a> if you'd like me to speak at your event</p>
  </div>

  {% assign sorted_talks = (site.talks | sort: 'date') %}
  {% for talk in sorted_talks reversed %}
    <div class='box box-sm'>
      <div class="box-body">
        <p class='box-title'><a href="{{talk.url}}">
          {{talk.title}}
          {% if talk.subtitle %}
            {{talk.subtitle}}
          {% endif %}
        </a></p>
        <p class='box-byline'>{{ talk.date | date: '%B %-d, %Y' }}
          <span class="pull-right">{{talk.location}}</span>
        </p>
      </div>
    </div>
  {% endfor %}

</div>
