#about {

  .skills {
    margin: 30px auto;
  }

  .label.web {color: $main-color;}
  .label.js {color: #E67E22;}
  .label.server {color: #E74C3C;}

  .tag {
    border-radius: 3px;
    background-color: $main-color;
    color: #ffffff;
    cursor: default;
    margin-right: 5px;
    margin-bottom: 6px;
    overflow: hidden;
    line-height: 15px;
    padding: 6px 12px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    font-size: 0.9em;
    opacity: .9;
  }

  .tag.link {
    cursor: pointer;
  }

  .tag:hover {
    opacity: 1;
  }

  // .tag.web {background-color: blue;}
  .tag.js {background-color: #E67E22}
  .tag.server {background-color: #E74C3C}

  .image {
    height: 40%;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }

  .image.about1 {background-image: url('/images/about1.jpg')}
  .image.about2 {background-image: url('/images/about2.jpg')}
}
