article {
  max-width: 700px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
article h1 {
  color: $darkBlue;
  margin-top: 0;
}
.article-info {
  border-bottom: 1px dotted #999;
  margin-bottom: 1em;
}
article h2 {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 1em;
}
article h3 {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
article .attribution {
  font-size: 0.8em;
  color: $black-subtle;
  margin-bottom: 0.8em;
}
article aside {
  margin-left: 1em;
  font-size: 0.8em;
  line-height: 1.4em;
  padding-left: 1em;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1em;
}