article {
  max-width: 700px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
article h2 {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 1em;
}
article h3 {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
article .attribution {
  font-size: 0.85em;
  border-bottom: 1px dashed #999;
  color: #999;
  padding-bottom: 0.4em;
}