#blog {
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
      clear: both;
    }
  }

  section { 
    clear: both;
    
    .keep-reading {
      text-decoration: none;
    }

  }

  article {
    .subtitle {
      display: block;
      margin-top: 0.7em;
    }

    ul {
      list-style-type: disc;
      margin-left: 1em;
      padding-left: 1em;
    }
  }

  .previous {float: left}
  .next {float: right}

  .pages {
    list-style-type: none;
  }
  .pages li {
    float: left;
    margin-right: 10px;
  }
}