header {
  background-color: #333;
  color: white;
  padding: 0.5em 0;
}
header h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  margin: 0;
}
header span {
  font-weight: 500;
  padding-left: 2px;
}
header a,
header a:visited {
  color: white;
}
header a:hover,
header a:focus,
header a:visited:hover,
header a:visited:focus {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgb(200,200,200);
}