.listing {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listing h2 {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1;
  margin: 0;
}
.listing-date {
  font-size: 0.8em;
}
.listing a {
  display: block;
}