.mainHeader {
  text-align: center;
}
.mainHeader-large {
  @extend .mainHeader;
  padding: 6em 0 5em;
}
.mainHeader-info h1 {
  font-size: 1.8em;
  margin-bottom: 0.1em;
  text-align: center;
}
.mainHeader-info p {
  font-size: 0.9em;
}
.mainHeader-menu {
  margin-top: 0.1em;
}
.mainHeader-menu a,
.mainHeader-menu a:visited {
  font-size: 0.8em;
  padding: 3px 6px;
  border: 1px solid #8295a3;
  color: #dae0e4;
  text-transform: uppercase;
}
.mainHeader-aboutLink {
  margin-top: 3em;
}
.mainHeader-aboutLink a,
.mainHeader-aboutLink a:visited {
  font-size: 0.85em;
  color: lighten($off-main-color, 30%);
}