.mainHeader {
  text-align: center;
  padding: 1em 5%;
  @include clearfix;
}
.mainHeader_large {
  @extend .mainHeader;
  padding: 6em 0 5em;
}
.mainHeader-logo {
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.9;
  font-size: 1.4em;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.1em;
  text-align: center;
}
.mainHeader_large .mainHeader-logo {
  font-size: 1.8em;
}
.mainHeader-info p {
  font-size: 0.9em;
}
.mainHeader-menu a,
.mainHeader-menu a:visited {
  font-size: 0.8em;
  padding: 3px 6px;
  border: 1px solid #8295a3;
  color: #dae0e4;
  text-transform: uppercase;
}
.mainHeader-aboutLink {
  margin-top: 3em;
}
.mainHeader-aboutLink a,
.mainHeader-aboutLink a:visited {
  font-size: 0.85em;
  color: lighten($darkBlue-subtle, 30%);
}