.mainHeader {
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.5);
  position: relative;
  padding: 4em 0 10em;
}
.mainHeader-info h1 {
  font-size: 1.8em;
}
.mainHeader-info p {
  font-size: 0.9em;
}
.mainHeader-menu a,
.mainHeader-menu a:visited {
  border: 1px solid white;
  font-size: 0.9em;
  padding: 1px 3px;
  border: 1px solid $off-main-color;
  color: lighten($off-main-color, 30%);
  text-transform: uppercase;
}