// $susy: (
//   columns: 12,
//   gutter-position: inside,
//   math: fluid,
//   output: float,
//   flow: rtl,
// );

$susy: (
  gutter-position: inside
);

.stories {
  text-align: center;
  margin-top: 20px;
}

.story {
  @include container();
  margin-bottom: 1em;

  .date {
    margin: 0;
    font-size: 12px;
    font-weight: 200;
    color: #999;
    text-align: right;
  }

  .summary {
    @include span(100%);
    // background:
    //   linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25) ),
    //   url('/images/talks/intro_to_ember.png') no-repeat center center;

    // White background
    background-repeat: no-repeat;
    background-position: 180px 50%;
    background-size: 70%;
    color: #3D3D3D;
    border: 1px solid #DDD;
    text-align: left;
    position: relative;
    border-radius: 2px;
    padding: 0;

    .icon {
      height: 25px;
      position: absolute;
      top: 3px;
      left: 3px;
      padding: 4px;
      opacity: 0.6;
    }

    .info {
      @include clearfix;
      margin-left: 10%;
      padding: 16px 14px;

      .title {
        display: inline-block;

        margin-top: 0;
        margin-bottom: 3px;
        line-height: 1;

        color: #444;
        font-weight: 300;
        font-size: 20px;
        @include transition(color .2s, border-color .2s);
      }
      
      a.title {
        padding-bottom: 2px;
        border-bottom: 1px solid #999;
        text-decoration: none;

        &:hover, &:active {
          text-decoration: none;
          color: rgb(223, 101, 6);
          border-color: rgb(223, 101, 6);
        }
      }

      .subtitle {
        margin-top: 4px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }

}

.story.talk .info {
  @include span(60%);
}

.story.post .info {
  @include span(90%);
}
