#writing {
  .back {
    display: block;
    margin-top: 1em;

    a:hover {
      text-decoration: none;
    }
    i {
      font-size: 0.9em;
      padding-right: 0.3em;
    }
  }

  ul {
    // list-style-type: none;
    // margin-left: 0;
    // padding-left: 0;
  }

  .content {
    margin-top: 0;
  }

  h1 {
    margin-top: .1em;
    margin-bottom: 0;

    .subtitle {
      display: block;
    }
  }

}
