---
layout: default
title: Sam Selikoff - Blog
---

<div id="blog" class="reading">
  
  <ul>
  {% for post in site.posts %}
    <li>
      <div class="twocol first">
        <p><small class="thin byline">{{ post.date | date_to_string }}</small></p>
      </div>
      <div class="tencol last">
        <h3 class="title">
          <a  href="{{ post.url }}">{{ post.title }}</a>
        </h3>
      </div>
    </li>
  {% endfor %}
  </ul>

  {% comment %}
  <div id="post-pagination" class="pagination">
    <div class="onecol">
      {% if paginator.previous_page %}
        <p class="previous">
          {% if paginator.previous_page == 1 %}
            <a href="/blog">Previous</a>
          {% else %}
            <a href="{{ paginator.previous_page_path }}">Previous</a>
          {% endif %}
        </p>
      {% else %}
        <p class="previous disabled">
          <span>Previous</span>
        </p>
      {% endif %}
    </div>

    <div class="ninecol text-center">
      <ul class="pages">
        <li class="page">
          {% if paginator.page == 1 %}
            <span class="current-page">1</span>
          {% else %}
            <a href="/blog">1</a>
          {% endif %}
        </li>
      
        {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
              <span class="current-page">{{ count }}</span>
            {% else %}
              <a href="/blog/page{{ count }}">{{ count }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="onecol">
      {% if paginator.next_page %}
        <p class="next">
          <a href="{{ paginator.next_page_path }}">Next</a>
        </p>
      {% else %}
        <p class="next disabled">
          <span>Next</span>
        </p>
      {% endif %}
     </div>

    <div class="clear"></div>
  </div>
  {% endcomment %}

</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'samselikoff'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>