.content {
  padding: 0 15px;
  margin-top: 30px;

  img {
    max-width: 100%;
  }

}

.comments {
  margin-top: 45px;
}


@include breakpoint(tablet) {
  .site {
    // page acts as a container for our grid.
    @include container;
    // background-color: blue;
    margin: 0;

    // header and footer are full-width by default.
    footer { clear: both; }

    // nav spans 3 columns of total 12.
    nav { @include span-columns(3,12); }

    .content {
      // content spans the final (omega) 9 columns of 12.
      @include span-columns(9 omega,12);

      // // main content spans 6 of those 9 columns.
      // .main { @include span-columns(6,9); }

      // // secondary content spans the final 3 (omega) of 9 columns.
      // .secondary { @include span-columns(3 omega,9); }
    }
  }
}