#main-nav {
  background-color: $background-alt;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  @include breakpoint(tablet) {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 216px;
  }

  #header-intro {
    // color: $link-color-alt;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 20px;
    text-align: center;
    @include breakpoint(tablet) {
      padding: 0;
      text-align: left;
    }

    .title {
      font-size: 29px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    a {
      color: $main-color !important;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .byline {
      margin: 1em 0;
      .inline {display: inline;}
    }

    p strong {
      font-weight: 400;
    }

    a, a:visited {
      // color: $link-color-alt;
      // text-decoration: none;
      // display: block;
      margin-top: 10px;
      // font-size: 30px;
      // line-height: 30px;
    }

    // .description {
    //  margin-top: 4px;
    //  font-size: 0.7em;
    //  color: rgb(220,220,220);
    //  color: rgba(255,255,255,0.8);
    // }
  }

  .main-nav {
    display: table;
    width: 100%;
    margin-bottom: 10px;

    .row {
      clear: both;
      text-align: center;
      margin: 0 auto;
      display: table-row;

      a {
        display: block;
        display: table-cell;
        float: left;
        width: 48%;
        margin: 1%;
        padding: 10px;
        text-decoration: none;
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(231, 231, 231);

        &:hover {
          // background-color: $main-color;
          // color: white;
        }
      }

      a.current-page {
        background-color: $main-color;
        color: white;
      }
    }

    ul {
      @include breakpoint(tablet) {
        text-align: left;
        padding-left: 0;

        li.current-page {
          opacity: 1;
          font-weight: bold;
        }

        li {
          opacity: 0.9;
          display: block;

          a {
            padding: 0;
            text-decoration: none;
          }
        }
      }
    }

  }

  .social {
    display: block;
    width: 228px;
    margin: 0 auto;
    @include breakpoint(tablet) {
      margin-bottom: 15px;

      ul {
        padding-left: 0;
      }
    }

    li {
      float: left;
      margin-left: 10px;
      @include breakpoint(tablet) {
        margin-left: 0;
        margin-right: 10px;
      }

      a {
        padding: 0;

        img {
          opacity: 0.5;
        }
      }
      a:hover img {
        opacity: 0.8;
      }
    }
  }
}