---
layout: base
---

{% include mobile-header.html %}

<div class="content">
  {% include sidebar.html %}

  <div class="content-main-wrapper">
    <div class="content-main">
      <section class="container-padding clearfix">
        {% include nav.html %}
        
        <div class="box box-desktop shadow-standout shadow-desktop">
          <div class="box-body">
            {{ content }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% include mobile-nav.html %}

{% include footer.html %}
