<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/print.css">
    <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome-4.0.3/css/font-awesome.min.css">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/js/jquery.js"></script>
    <!--[if lt IE 9]>
      <script src="/js/vendor/modernizr.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42527632-1', 'samselikoff.com');
      ga('send', 'pageview');

    </script>
        
    {{ content }}

  </body>
</html>
