---
layout: base
---
<div class="">
  <div class="site">

    <nav id="main-nav" role="banner">
      <div id="inner-header" class="wrap clearfix">
        <div id="header-intro">
          <p class="title"><a href="/">Sam Selikoff</a></p>
          <div class="byline thin subtitle subtle">
            <p class="inline">Full-stack web developer</p>
            <p class="inline">with a background in economics</p>
          </div>
        </div>

        <nav class="social">
          <ul>
            <li><a href="https://github.com/samselikoff" target="_blank">
              <img src="/images/icons/github.png" width="22" height="22"></img>
            </a></li>
            <li><a href="https://twitter.com/samselikoff" target="_blank">
              <img src="/images/icons/twitter.png" width="22" height="22"></img>
            </a></li>
            <li><a href="http://www.linkedin.com/in/samselikoff" target="_blank">
              <img src="/images/icons/linkedin.png" width="22" height="22"></img>
            </a></li>
            <li><a href="https://www.facebook.com/sam.selikoff" target="_blank">
              <img src="/images/icons/facebook2.png" width="22" height="22">
            </li>
          </ul>
        </nav>

        <nav class="main-nav desktop visible-tablet" role="navigation">
          <ul>
            <li {% if page.url == '/projects/index.html' %}class="current-page"{% endif %}><a href="/projects">Projects</a></li>
            <li {% if page.url == '/writing/index.html' %}class="current-page"{% endif %}><a href="/writing">Writing</a></li>
            <li {% if page.url == '/blog/index.html' or page.date != nil %}class="current-page"{% endif %}><a href="/blog">Blog</a></li>
            <li {% if page.url == '/resume/index.html' %}class="current-page"{% endif %}><a href="/resume">Resume</a></li>
            <li {% if page.url == '/about/index.html' %}class="current-page"{% endif %}><a href="/about">About</a></li>
          </ul>         
        </nav>

        <nav class="main-nav mobile visible-phone" role="navigation">
          <p class="thin subtitle text-center"><a href="/about/index.html">Learn more about me</a>, or explore my work:</p>
          <div class="row">
            <a {% if page.url == '/projects/index.html' %}class="current-page"{% endif %} href="/projects">Projects</a>
            <a {% if page.url == '/writing/index.html' %}class="current-page"{% endif %} href="/writing">Writing</a>
          </div>
          <div class="row">
            <!-- <a {% if page.url == '/portfolio/index.html' %}class="current-page"{% endif %} href="/portfolio">Portfolio</a> -->
            <a {% if page.url == '/blog/index.html' or page.date != nil %}class="current-page"{% endif %} href="/blog">Blog</a>
            <a {% if page.url == '/resume/index.html' or page.date != nil %}class="current-page"{% endif %} href="/resume">Resume</a>
          </div>
        </nav>
      </div>
    </nav>

    <div id="{{ page.id }}" class="content wrap">
          
      {{ content }}

    </div>

    <footer>
      <p class="copyright muted">&copy; 2013 Sam Selikoff</p>
    </footer>

  <div class="container">
<div class="site">