---
layout: base
---
<header class='mainHeader_large u-shadow'>
  <div class="u-container">
    <div class="mainHeader-info">
      <a class='mainHeader-logo' href='/'>Sam<span>Selikoff</span></a>
      <p>web development · economics</p>
    </div>
    
    <p class='mainHeader-aboutLink'><a href="/about">
      <span class="u-accent">[</span> about <span class="u-accent">]</span>
    </a></p>
  </div>
</header>

<section class="main">
  {{ content }}
</section>

<footer id="home">
  {% include contact.html %}
</footer>
