---
layout: base
---
<header class='mainHeader-large u-shadow'>
  <div class="u-container">
    <div class="mainHeader-info">
      <h1><a href='/'>Sam<span>Selikoff</span></a></h1>
      <p>web development · economics</p>
    </div>
    <p class='mainHeader-aboutLink'><a href="/about">
      <span class="u-accent">[</span> about <span class="u-accent">]</span>
    </a></p>
  </div>
</header>

<section class="main">
  {{ content }}
</section>

<footer>
  <p>
    <a href="#"><span class="u-accent">[</span> blog <span class="u-accent">]</span></a>
    <a href="#"><span class="u-accent">[</span> writing <span class="u-accent">]</span></a>
    <a href="#"><span class="u-accent">[</span> talks <span class="u-accent">]</span></a>
  </p>
  <p>
    <a href="#"><span class="u-accent">[</span> code + design <span class="u-accent">]</span></a>
    <a href="#"><span class="u-accent">[</span> about <span class="u-accent">]</span></a>
  </p>
</footer>