---
layout: base
---

<div class='hidden-lg'>
  {% include mobile-header.html %}
</div>

<div class="content">
  <div class="content-secondary-wrapper visible-lg">
    <div class="content-secondary" role="complementary">
      {% include logo.html %}
    </div>
  </div>

  <div class="content-main-wrapper">
    <div class="content-main">
      <section class="container-padding inverted clearfix">
        {% include nav.html %}
        
        {{ content }}
      </section>
    </div>
  </div>
</div>

<div class="inverted">
  {% include mobile-nav.html %}
</div>

{% include footer.html %}
