/*
  Typography
*/
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
  Colors
*/
$main-color: #2185C5;
$off-white: #fafafa;

$background-primary: "white";
$background-alt: $off-white;

$link-color: $main-color;
$link-color-alt: #777;
$link-hover: darken($link-color, 30%);
$link-hover-alt: darken($link-color-alt, 30%);
$link-active: $main-color;

/*
  Other variables
*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1030px;

/*
  Susy config
*/
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width; 