/*
  Typography
*/
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
// $h1: 'Oleo Script', cursive;

/*
  Colors
*/
$main-color: #8E2800;
$secondary-color: #B64926;
$tertiary-color: #DC3522;
$subtle-color: #FCFAE1;
$off-white: #FEFEFE;

$header-background: darken($main-color, 7%);
$header-text: $off-white;

$background-primary: white;
$background-alt: $off-white;

$link-color: $tertiary-color;
$link-color-alt: #777;
$link-hover: darken($link-color, 30%);
$link-hover-alt: darken($link-color-alt, 30%);
$link-active: $main-color;

$body-text: #333;

/*
  Other variables
*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1030px;

/*
  Susy config
*/
// $total-columns  : 12;             // a 12-column grid
// $column-width   : 4em;            // each column is 4em wide
// $gutter-width   : 1em;            // 1em gutters between columns
// $grid-padding   : $gutter-width; 

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true
    )
  );