.muted {
  color: #999;
}

.soft {
  color: #666;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-top-margin {
  margin-top: 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-large {
  margin-top: 30px;
}

.margin-left {
  margin-left: 10px;
}

.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.row {
  display: inline-block;
  width: 100%;
}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.thin {
  font-weight: 300;
  font-family: 'Raleway', 'Lato', sans-serif;
  // color: #999;
  // font-size: 20px;
  // line-height: 26px;
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.visible-tablet {
  display: none !important;
}

@include breakpoint(tablet) {
  .visible-phone {
    display: none !important;
  }
  .visible-tablet {
    display: initial !important;
  }
}

.wrap {
  width: 96%;
  margin: 0 auto;
}

// Move this somewhere else
.subtitle {
  font-size: 20px;
  line-height: 26px;

  a {
    text-decoration: none;
  }
}
