---
layout: default
---

<div id="{{ page.site-section }}" class="wrap">
  
  <div class="container">
    <article>
      <div class="clearfix">
        <a class="thin back" href="/{{ page.site-section }}">
          <i class="fa fa-chevron-left"></i> Back to {{ page.site-section }}
        </a>

        <p class="date"><small class="soft">{{ page.date | date: "%B %-d, %Y" }}</small></p>
      </div>

      <h1>{{ page.title }}
        <span class="subtitle thin">{{ page.subtitle }}</span>
      </h1>

      {{ content }}
    </article>

    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'samselikoff'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    
  </div>

<!-- 
  <footer>
    <p class="copyright muted">&copy; 2013 Sam Selikoff</p>
  </footer>
 -->
</div>