---
layout: inverted
title: Sam Selikoff - Writings
---

<div id="writings">

  <div class="title">
    <h1>Writings</h1>
    <p>Tutorials and articles on JavaScript, economics and more</p>
  </div>


  <h2>Tutorials</h2>
  {% for article in site.data.writings.tutorials %}
    <div class='box box-sm'>
      <div class="box-body">
        <a class='box-title' href="{{article.url}}">{{article.title}}</a>
      </div>
    </div>
  {% endfor %}

  <h2>Book notes</h2>
  {% for article in site.data.writings.book_reviews %}
    <div class='box box-sm'>
      <div class="box-body">
        <a class='box-title' href="{{article.url}}">{{article.title}}</a>
      </div>
    </div>
  {% endfor %}

  <h2>Economics</h2>
  {% for article in site.data.writings.economics %}
    <div class='box box-sm'>
      <div class="box-body">
        <a class='box-title' href="{{article.url}}">{{article.title}}</a>
      </div>
    </div>
  {% endfor %}

</div>
